CONFIG_TARGET_x86=y
CONFIG_TARGET_x86_generic=y
CONFIG_TARGET_x86_generic_DEVICE_generic=y
CONFIG_DEBUG=y
# CONFIG_GRUB_CONSOLE is not set
# CONFIG_GRUB_EFI_IMAGES is not set
CONFIG_PACKAGE_gdb=y
CONFIG_PACKAGE_gdbserver=y
# CONFIG_PACKAGE_grub2-efi is not set
CONFIG_PACKAGE_libgmp=y
CONFIG_PACKAGE_libncurses=y
CONFIG_PACKAGE_libreadline=y
CONFIG_PACKAGE_libstdcpp=y
CONFIG_PACKAGE_terminfo=y
CONFIG_PACKAGE_zlib=y
# CONFIG_TARGET_ROOTFS_SQUASHFS is not set